<!-- INCLUDE overall_header.html -->

<h1>{{ lang('EXT_LINK_TITLE') }}</h1>

<p>{{ lang('EXT_LINK_TITLE_EXPLAIN') }}</p>

<form id="acp_board" method="post" action="{U_ACTION}">

	<fieldset>
		<legend>{{ lang('EXT_LINK_DOMAIN') }}</legend>
		<dl>
			<dt><label for="imcger_ext_link_domain2">{{ lang('EXT_LINK_DOMAIN_TEXT') }} {{ lang('COLON') }}</label><br><span>{{ lang('EXT_LINK_DOMAIN_DESC') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" id="imcger_ext_link_domain2" name="imcger_ext_link_domain_level" value="2" {% if S_IMCGER_EXT_LINK_DOMAIN == 2 %} checked="checked"{% endif %} /> <span class="imcger-domain"></span></label><br>
				<label><input type="radio" class="radio" id="imcger_ext_link_domain3" name="imcger_ext_link_domain_level" value="3" {% if S_IMCGER_EXT_LINK_DOMAIN == 3 %} checked="checked"{% endif %} /> <span class="imcger-domain"></span></label><br>
				<label><input type="radio" class="radio" id="imcger_ext_link_domain4" name="imcger_ext_link_domain_level" value="4" {% if S_IMCGER_EXT_LINK_DOMAIN == 4 %} checked="checked"{% endif %} /> <span class="imcger-domain"></span></label><br>
				<label><input type="radio" class="radio" id="imcger_ext_link_domain5" name="imcger_ext_link_domain_level" value="5" {% if S_IMCGER_EXT_LINK_DOMAIN == 5 %} checked="checked"{% endif %} /> <span class="imcger-domain"></span></label>
			</dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<legend>{{ lang('EXT_LINK_LINKS') }}</legend>
		<dl>
			<dt><label for="imcger_ext_link_links_text">{{ lang('EXT_LINK_LINKS_TEXT') }} {{ lang('COLON') }}</label><br><span>{{ lang('EXT_LINK_LINKS_TEXT_DESC') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" id="imcger_ext_link_links_text" name="imcger_ext_link_links_text" value='1'{% if S_IMCGER_LINKS_TEXT %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="imcger_ext_link_links_text" value='0'{% if not S_IMCGER_LINKS_TEXT %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label for="imcger_ext_link_links_img">{{ lang('EXT_LINK_LINKS_IMG') }} {{ lang('COLON') }}</label><br><span>{{ lang('EXT_LINK_LINKS_IMG_DESC') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" id="imcger_ext_link_links_img" name="imcger_ext_link_links_img" value='1'{% if S_IMCGER_LINKS_IMG %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="imcger_ext_link_links_img" value='0'{% if not S_IMCGER_LINKS_IMG %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<legend>{{ lang('EXT_LINK_SHOW') }}</legend>
		<dl>
			<dt><label for="imcger_ext_link_show_link">{{ lang('EXT_LINK_SHOW_LINK') }} {{ lang('COLON') }}</label><br><span>{{ lang('EXT_LINK_SHOW_LINK_DESC') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" id="imcger_ext_link_show_link" name="imcger_ext_link_show_link" value='1'{% if S_IMCGER_SHOW_LINK %} checked="checked"{% endif %} /> {{ lang('EXT_LINK_EXT') }}</label>
				<label><input type="radio" class="radio" name="imcger_ext_link_show_link" value='0'{% if not S_IMCGER_SHOW_LINK %} checked="checked"{% endif %} /> {{ lang('EXT_LINK_ALL') }}</label>
			</dd>
		</dl>
	</fieldset>
	
	<fieldset>
		<legend>{{ lang('EXT_LINK_IMAGE') }}</legend>
		<dl>
			<dt><label for="imcger_ext_img_show_link">{{ lang('EXT_LINK_IMAGE_LINK') }}</label><br /><span>{{ lang('EXT_LINK_IMAGE_LINK_DESC') }}</span></dt>
			<dd>
				<input id="imcger_ext_img_show_link" type="number" min="0" max="9999" name="imcger_ext_img_show_link_width" value="{{ IMCGER_IMG_LINK_WIDTH }}" /> x <input type="number" min="0" max="9999" name="imcger_ext_img_show_link_height" value="{{ IMCGER_IMG_LINK_HEIGHT }}" /> px
			</dd>
		</dl>
	</fieldset>
	
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
