{% include 'overall_header.html' %}

<h1>{{ lang('EXT_LINK_TITLE') }}</h1>

<p>{{ lang('EXT_LINK_TITLE_EXPLAIN') }}</p>

<form id="acp_extensions" name="action" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('EXT_LINK_LINKS_USERSET') }}</legend>
		<dl>
			<dt><label for="imcger_extlink_user_newwin">{{ lang('UCP_EXT_LINK_LINKS_NEWWIN') ~ lang('COLON') }}</label><br><span></span></dt>
			<dd>
				{{ _self.switch('imcger_extlink_user_newwin', S_IMCGER_USER_NEWWIN) }}
			</dd>
		</dl>

		<dl>
			<dt><label for="imcger_extlink_user_text">{{ lang('UCP_EXT_LINK_LINK2_TEXT') ~ lang('COLON') }}</label><br><span></span></dt>
			<dd>
				{{ _self.switch('imcger_extlink_user_text', S_IMCGER_USER_TEXT) }}
			</dd>
		</dl>

		<dl>
			<dt><label for="imcger_extlink_user_image">{{ lang('UCP_EXT_LINK_LINK2_IMAGE') ~ lang('COLON') }}</label><br><span>{{ lang('UCP_EXT_LINK_LINK2_IMAGE_DEC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_extlink_user_image', S_IMCGER_USER_IMAGE) }}
			</dd>
		</dl>

		<dl>
			<dt><label for="imcger_extlink_user_none_secure">{{ lang('UCP_EXT_LINK_NONE_SECURE') ~ lang('COLON') }}</label><br><span>{{ lang('UCP_EXT_LINK_NONE_SECURE_DEC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_extlink_user_none_secure', S_IMCGER_USER_NONE_SECURE) }}
			</dd>
		</dl>
		<hr>
		<dl>
			<dt><label for="imcger_extlink_overwrite_userset">{{ lang('EXT_LINK_OVERWRITE_USERSET') ~ lang('COLON') }}</label><br><span>{{ lang('EXT_LINK_OVERWRITE_USERSET_DEC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_extlink_overwrite_userset', S_IMCGER_OVERWRITE_USERSET) }}
			</dd>
		</dl>
	</fieldset>

	{% if S_IMCGER_USERSET_TIME -%}
	<fieldset>
		<dl class="imcger-userset-time">
			{{ IMCGER_USERSET_TIME|e('html') }}
		</dl>
	</fieldset>
	{% endif %}

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<button class="button1" type="submit" name="action" value="write_data">{{ lang('SUBMIT') }}</button>&nbsp;
			<button class="button2" type="{{ S_IMCGER_RESET_BUTTON ? 'reset' : 'submit' }}"  name="action" value="default">{{ lang('RESET') }}</button>
		</p>
	</fieldset>

{{ S_FORM_TOKEN }}
</form>

<p class="imcger-copyright">
	{{ EXT_LINK_TITLE }} v{{ EXT_LINK_EXT_VER }} &copy; IMC-Ger<br>
	{{ lang('ACP_IMCGER_LANG_DESC') }} v{{ lang('ACP_IMCGER_LANG_EXT_VER') }} &bull; {{ lang('ACP_IMCGER_LANG_AUTHOR') }}
</p>

{% include 'overall_footer.html' %}

{% INCLUDECSS '@imcger_externallinks/acp_toggle.css' %}
{% INCLUDECSS '@imcger_externallinks/acp_externallinks.css' %}

{% macro switch(name, checked = false) %}
{% apply spaceless %}
	<input type="checkbox" class="toggle" id="{{ name }}" name="{{ name }}" value="1"{{ checked ? ' checked' }}>
{% endapply  %}
{% endmacro %}
