{% INCLUDECSS '@imcger_externallinks/css/external-links.css' %}
<script>
	/**
	 *	Funktion prüft ob Domain der URL und Board location gleich sind
	 */
	function ImageSelfDomain(url) {
		if(url.startsWith('/') || url.startsWith('./')){
			return(true);
		}		
		return(url.includes("{{ IMCGER_EXT_LINK_INTERNAL_DOMAIN }}"));
	}

	/**
	 *	Externe Links durch setzen von Attributten kenntlich machen

	x  = document.querySelectorAll(".postlink");
	for (i = 0; i < x.length; i++) {
		if(!ImageSelfDomain(x[i].getAttribute("href"))) {
			x[i].setAttribute("title", "{{ lang('LA_EXT_LINK_EXT_LINK')|e('js') }}");
		}
	}
	 */
	/**
	 *	Externe Bilder: Sprachvariable der Bildunterschrift setzen
	 */
	x  = document.querySelectorAll("span.imcger-ext-image > span");
	for (i = 0; i < x.length; i++) {
		x[i].innerHTML = "{{ lang('LA_EXT_LINK_BILD_SOURCE')|e('js') }}";
	}
</script>
